.header {
   background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
   border-radius: 0px 0px 12px 12px;
   position: relative;
}

.header-bg {
   background-image: url(../images/Symbol.svg);
   @include bg-image-properites;
   min-height: 100vh;
}

.header-contacts {
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   background: rgba(245, 245, 250, 0.2);
}

.btns__button {
   border: 0;
   border-radius: 8px;
   background-color: transparent;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   letter-spacing: 1px;
   color: #FFFFFF;
}

.btns__button.active {
   background-color: #F0145A;
}

.dot {
   display: none;
   width: 6px;
   height: 6px;
   background: #E6E6F0;
   border-radius: 50%;
}

.header-contacts__adress {
   display: none;
}

.header-contacts__tel {
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: right;
   color: #FFFFFF;
}

.header-contacts__link {
   display: none;
}

.header-nav {
   padding: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-nav__logo-link {
   display: flex;
   gap: 4px;
}



.logo-link__logo {
   width: 70px;
   height: 32px;
}

.mobile-word {
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}

.nav__menu {
   display: none;
}

.nav__link {
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: right;
   color: #FFFFFF;
}

.nav__link:hover {
   border-bottom: 2px solid #FFFFFF;
}

.nav__link:active {
   color: $hoverColor;
   border-bottom: 2px solid $hoverColor;
}

.btn-mobile-menu {
   border: 0;
   background-color: transparent;
}

.btn-mobile-menu:hover {
   background: rgba(245, 245, 250, 0.2);
   border-radius: 8px;
}


.mobile-menu-container.menu--active {
   display: block;
}

.mobile-menu-container {
   display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(50, 50, 100, 0.7);
}

.menu-burger {
   padding: 64px 12px 12px 12px;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   background-color: #FFFFFF;
   position: absolute;
   bottom: 0;
   right: 8px;
   left: 8px;
}

.menu-burger__list {
   display: flex;
   flex-direction: column;
   gap: 15px;
   text-align: center;
}

.menu-butger__item {
   width: 100%;
   padding: 7px 110px;
   border-radius: 12px;
   background-color: #F5F5FA;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #24A3FF;
   text-decoration: none;
}

.menu-burger__list-close-btn {
   position: absolute;
   top: 19px;
   right: 19px;
   width: 32px;
   height: 32px;
   border: none;
   background-color: rgba(245, 245, 250, 0.1);
   background-image: url(../images/Close.svg);
   background-position: center;
   background-repeat: no-repeat;
}

.menu-burger__list-close-btn:active {
   background-color: #E6E6F0;
   border-radius: 8px;
}

@media (min-width:768px) {

   .mobile-word {
      display: none;
   }

   .header-bg {
      background-size: contain;
   }

   .header-wrapper {
      padding: 0 60px;
   }

   .logo-link__logo {
      height: auto;
      width: auto;
   }

   .btn-mobile-menu {
      display: none;
   }

   .nav__menu {
      display: flex;
      gap: 15px;
   }

   .header-nav {
      padding: 15px 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
   }

   .dot {
      display: block;
   }

   .header-contacts {
      padding: 15px 0;
      justify-content: start;
      gap: 6px;
      align-items: center;
   }

   .header-contacts__adress {
      display: block;
      line-height: 20px;
      color: #B3B3BA;
   }

   .header-contacts__link {
      display: block;
   }

   .header-contacts {
      padding-top: 50px;
      padding-bottom: 15px;
      background: none;
   }

   .logo-link__slash {
      display: none;
   }
}

@media (min-width:1024px) {

   .header-container {
      position: relative;
   }

   .header-contacts {
      justify-content: flex-end;
   }

   .header-nav {
      padding-top: 0;
      align-items: flex-end;
   }

   .header-nav__logo-link {
      position: absolute;
      top: 50%;
      left: 0;
   }


}

@media (min-width:1920px) {
   .header-wrapper {
      padding: 0 160px;
   }
}


.symbol {
   min-height: 100vh;
   padding: 30px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;

   &__title {
      font-weight: 700;
      font-size: 38px;
      line-height: 46px;
      text-align: center;
      color: $textColor;
   }

   &__link {
      display: block;
      min-width: 42px;
      min-height: 42px;
      background-color: none;
      background-image: url(../images/symbol-vector.svg);
      @include bg-image-properites;
      background-size: 18px 9px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: absolute;
      bottom: 30px;
   }

   &__link:hover {
      background-image: url(../images/vector-hover.svg);
      opacity: 0.5;
      border: 2px solid $hoverColor;
   }
}

.production {
   display: flex;
   flex-direction: column;

   &__content {
      padding: 30px;
   }

   &__content-title {
      font-size: 20px;
      line-height: 24px;
      color: $textColor;
      margin-bottom: 30px;
   }

   &__content-text {
      font-size: 19px;
      line-height: 30px;
      color: $textColor;
   }

   &__wrapper {
      margin-left: auto;
      margin-right: auto;
   }
}

.menu-items {
   display: flex;
   gap: 30px;
   overflow-x: auto;
   padding: 30px;

}

.menu__item {
   white-space: nowrap;
}

.menu__link {
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   color: #B3B3BA;
}

.menu__link:hover {
   color: $hoverColor;
}

.menu__item:nth-child(1) {
   background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
}

.separator {
   border-bottom: 4px solid rgba(255, 255, 255, 0.3);
   margin: 0 30px;
}

@media (min-width:768px) {

   .separator {
      margin: 0 60px;
   }

   .symbol {
      background-size: contain;
   }

   .production__content-title {
      font-size: 30px;
      line-height: 37px;
   }

   .production__content {
      padding: 60px;
   }

}

@media (min-width: 1024px) {

   .production {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .separator {
      border-right: 4px solid rgba(255, 255, 255, 0.3);
      min-height: 250px;
      margin: 0;
   }

   .menu-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-shrink: 0;
      align-items: flex-end;
   }
}

@media (min-width: 1440px) {
   .production__content {
      padding: 60px;
   }

   .menu-items {
      padding: 60px;
   }

   .production-wrapper {
      max-width: 1680px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 120px;
      padding-right: 120px;
   }
}