.publications {
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: #F5F5FA;

   &__link {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $titleColor;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 5px;
   }
}

.publications__link:hover {
   color: #F0145A;
}

.publications__link .publications__title::after {
   content: url("../images/arrow2.png");
   margin-left: 4px;
}

.publications__link .publications__title:hover::after {
   content: url("../images/arrow2hover.png");
}

.publications__subtitle {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   color: 0;
   background: linear-gradient(to right, #F0145A, 20%, #EF8080);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 30px;
}

.publications-cards {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.publications-card {
   border-radius: 8px;
   overflow: hidden;
   background: #FFFFFF;
}

.card-content {
   padding: 30px;

   &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $titleColor;
      margin-bottom: 15px;
   }

   &__date {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #B3B3BA;
      display: block;
      margin-bottom: 15px;
   }

   &__line {
      border-top: 4px solid #E6E6F0;
   }

   &__content {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      padding-top: 15px;
   }
}

.first-logo {
   background-image: url(../images/publication-1.png);
   height: 200px;
   @include bg-image-properites;
}

.second-logo {
   background-image: url(../images/publication-2.png);
   @include bg-image-properites;
   height: 200px;
}

.third-logo {
   background-image: url(../images/publication-3.png);
   @include bg-image-properites;
   height: 200px;
}

@media (min-width: 768px) {
   .publications-cards {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .publications-card:nth-child(1) {
      width: calc(50% - 15px);
   }

   .publications-card:nth-child(2) {
      width: calc(50% - 15px);
   }

   .publications-card:nth-child(3) {
      width: calc(50% - 15px);
   }
}

@media (min-width: 1024px) {

   .publications-cards {
      flex-wrap: nowrap;
   }

   .publications-card.first {
      width: calc(33.33% - 15px);
   }

   .publications-card.second {
      width: calc(33.33% - 15px);
   }

   .publications-card.third {
      width: calc(33.33% - 15px);
   }
}