// .services::before {
//    content: "";
//    background: #CACADB;
//    border-radius: 0px 0px 12px 12px;
//    position: absolute;
//    z-index: -1;
//    bottom: -10px;
//    height: 10px;
//    left: 20px;
//    right: 20px;
// }

// .services::after {
//    content: "";
//    background: #E7E7F2;
//    border-radius: 0px 0px 12px 12px;
//    position: absolute;
//    z-index: -2;
//    bottom: -20px;
//    height: 20px;
//    left: 40px;
//    right: 40px;
// }

.services-link {
   color: $titleColor;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 1px;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 10px;
}

.services-link:hover {
   color: #F0145A;
}

.services-link .services-link-title::after {
   content: url(../images/arrow2.png);
   margin-left: 5px;
}

.services-link .services-link-title:hover::after {
   content: url(../images/arrow2hover.png);
   margin-left: 5px;
}


.services {
   padding: 30px 0 60px 0;
   position: relative;
}

.main-title__title {
   font-size: 30px;
   line-height: 37px;
   background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 30px;
}

.main-blocks {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 30px;
}

.main-block {

   &__title {
      font-size: 22px;
      line-height: 27px;
      color: $titleColor;
      margin-bottom: 15px;
   }

   &__content {
      font-size: 16px;
      line-height: 26px;
      color: $textColor;
   }
}

.main-block-logo {
   display: inline-block;
   background: #FFFFFF;
   border-radius: 24px;
   padding: 14px;
   margin-bottom: 30px;
}

@media (min-width:768px) {

   .wrapper {
      padding-left: 60px;
      padding-right: 60px;
   }

   .main-title__title {
      margin-bottom: 60px;
   }

   .main-blocks {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 60px;

      .main-block {
         width: calc(50% - 30px);
      }
   }
}

@media (min-width:1024px) {

   .wrapper {
      padding-left: 60px;
      padding-right: 60px;
   }

   .main-blocks {

      .main-block {
         width: calc(33.33% - 40px);
      }
   }
}

@media (min-width:1440px) {

   .wrapper {
      padding-left: 60px;
      padding-right: 60px;
   }

   .main-blocks {

      .main-block {
         width: 400px;
      }

   }
}

@media (min-width:1920px) {

   .wrapper {
      width: 1600px;
   }

   .main-blocks {

      .main-block {
         width: 493px;
      }

   }
}